* {
   margin: 0;
   padding: 0;
}

@keyframes zoomIn {
	from {
	  opacity: 0;
	  transform: scale3d(0.3, 0.3, 0.3);
	}
 
	50% {
	  opacity: 1;
	}
 }
 
 .zoomIn {
	animation-duration: 2s;
	animation-name: zoomIn;
 }


 @keyframes hinge {
	0% {
	  transform-origin: top left;
	  animation-timing-function: ease-in-out;
	}
 
	20%,
	60% {
	  transform: rotate3d(0, 0, 1, 80deg);
	  transform-origin: top left;
	  animation-timing-function: ease-in-out;
	}
 
	40%,
	80% {
	  transform: rotate3d(0, 0, 1, 60deg);
	  transform-origin: top left;
	  animation-timing-function: ease-in-out;
	  opacity: 1;
	}
 
	to {
	  transform: translate3d(0, 700px, 0);
	  opacity: 0;
	}
 }
 
 .hinge {
	animation-duration: 2s;
	animation-name: hinge;
 }

 /*.modal-windo{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
 }*/


.modal-windo__heading {
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 30px;
   text-align: center;
   color: chocolate;
}

.modal-windo__par {
   border: 3px solid #270a0a;
   border-radius: 5%;
   text-align: center;
   margin: auto;
   width: 500px;
   font-family: 'Courier New', Courier, monospace;
   font-size: 15px;
   padding: 20px;
   -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
   -moz-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
	position: relative;
}

.sing-exit{
	position: absolute;
	top: 0;
	right: 0.5em;
	font-size: 30px;
}

.modal-windo__par-close{
	display: none;
}